@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdeb !important;
  --foreground: #1e1e1e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-alumni-sans);
}
.slick-arrow {
  display: none !important;
}
.thumbnail-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between buttons and thumbnails */
}

.thumbnails {
  display: flex;
  overflow: hidden; /* Prevent overflow */
  flex-grow: 1; /* Allow thumbnails to take available space */
}

.thumbnails img {
  transition: transform 0.3s ease;
  border: 1px solid #cfcfcf; /* Smooth transition for thumbnail images */
}
